[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "==6.29.5"
jupytext = "==1.17.1"
pandas = "==2.2.3"
tensorflow = "==2.19.0"
keras = "==3.9.0"

[dev-packages]

[requires]
python_version = "3.11"
